:host > div form > input {
  border: 1;
  outline: none;
  background: inherit;
  width: max-content;
  font-size: 1.15em;
  box-shadow: none;
  width: 100%;
  padding: 6px;
  line-height: 1;
  color: red;
}